@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root{
  --header-font-size : 3.125rem;
  --subtitle-font-size: 1.375rem;
  --extrasmall-font-size: 1.125rem;
}

*{
  padding: 0;
  margin: 0;
}

body{
  box-sizing: border-box;
  background-color: #16161a;
  color: #fffffe;
  line-height: 1.5;
  font-size: 1.1rem;
  font-family: 'Poppins', sans-serif;
}

.logo{
  font-family: 'Fredoka One', cursive;
  font-weight: 200;
}

.container{
  width: 80%;
  margin: 0 auto;
  max-width: 1300px;
  height: 100vh;
}

li{
  list-style: none;
}

a{
  color: #fffffe;
  text-decoration: none;
}

h1{
  font-size: var(--header-font-size)
}

p{
  font-size: var(--subtitle-font-size)
}

/* 
    NavBar 
            */

.nav{
  display: flex;
  justify-content: flex-end ;
  align-items: center;
  padding: 20px 0 20px 0;
}            

.logo{
  flex: 1;
  position: relative;
}

.logo::before{
  content: '';
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  top: 12px;
  left: -29px;
  z-index: -1;
  background-color:#F2C617;
}

.nav-items ul {
  display: flex;
  justify-content: space-evenly;
}

.nav-items li{
  margin-left: 5rem;
}

/* 
    Header
 */

.header{
  display: flex;
  align-items: center;
}

.about h1{
  font-size: 3.5rem;
  font-weight: 800;
}

.about h4{
  margin:20px 0;
  font-size: var(--extrasmall-font-size);
  font-weight: 200;
}

#about-btn{
  margin-top: 20px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 200px;
  background-color:#4E73B9;
}

.header .image img{
  position: relative;
  left: 75px;
}

/* 
  Video
*/

.video{
  margin: 200px 0;
  display: flex;
  justify-content: center;
}

.video iframe{
  box-shadow: 0 4px 8px 0#7f5af0, 0 6px 20px 0#4E73B9;
  border-radius: 25px;
}

/* 
  survices
*/

.survices{
  margin-top: 150px;
  height: 500px;
  padding: 100px 0;
}

.survices h1{
  font-size: 3.125rem;
}

.icons{
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.icons li{
  flex:1;
}

.icons p{
  font-size: var(--extrasmall-font-size);
  font-weight: 200;
  color: #94a1b2;
}

.icons h2{
  margin-bottom: 5px;
}

.icons li i{
  border-radius: 20px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #fffffe;
  height: 80px;
  width: 80px;
}

.icons .fa-file-code{
  background-color: #5EC9E7;
  box-shadow: 0 2px 4px 0#5ec9e773, 0 3px 10px 0#5ec9e78f;
}

.icons .fa-copyright{
  background-color: #7f5af0;
  box-shadow: 0 2px 4px 0#7f5af04b, 0 6px 20px 0#7f5af0b2;
}

.icons .fa-star {
  background-color: #F2C617;
  box-shadow: 0 2px 4px 0#f2c6177e, 0 6px 20px 0#f2c6178c;
}

.learn-more{
  margin-top: 20px;
  font-size: 1rem;
}

/* 
  Call to action
*/

.call-to-action{
  display: flex;
  margin: 200px 0;
}

.call-to-action img{
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  height: 300px;
}

.call-to-action .img{
  position: relative;
  left: 80px;
  flex: 1;
}

.call-to-action .img::before{
  content: '';
  display: block;
  height: 300px;
  width: 400px;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  background-color: #F2C617;
  position: absolute;
  left: -100px;
  top: 50px;
}

.call-to-action p{
  margin-top: 20px;
  font-size: var(--extrasmall-font-size);
  font-weight: 100;
}

.call-to-action .text{
  margin-left: 150px;
  margin-top: 80px; 
}

.call-to-action .text span{
  position: relative;
}

.call-to-action .text span::after{
  content: '';
  width: 100px;
  height: 10px;
  display: block;
  background-color:#F2C617 ;
  position: absolute;
  top: -20px;
}

/* 
  Support
*/

.support{
  margin: 300px 0;
}

.support-grid-container{
  margin-top: 50px;
  display: grid;
  grid-template-columns: 25% 25%;
  grid-template-rows: 1fr 1fr;
  grid-gap: 50px 50px;
}

.support-grid-container .box{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.support-grid-container i{
  display: flex;
  margin-right: 20px;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #7F5AF0;
}

.support span{
  position: relative;
}

.support span::after{
  content: '';
  width: 100px;
  height: 10px;
  display: block;
  background-color:#F2C617 ;
  position: absolute;
  top: -20px;
}

/* 
  Real Call to action
*/

.real-cta{
  text-align: center;
  margin: 150px 0;
}

.real-cta .btn{
  display: block;
  margin: 20px auto;
  width: 300px;
  height: 3rem;
  border-radius: 15px;  
  background-color:#4E73B9;
}

.btn h5{
  text-align: center;
  padding-top: 15px;
}

.real-cta p{
  margin: 0 auto;
  width: 700px;
}

/* 
  Footer
*/

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.socials{
  flex: 1;
}

.info p{
  font-size: 14px;
  line-height: 2;
  font-weight: 100;
  color: #94a1b2;
}

.socials i{
  margin-left: 20px;
  color: #94a1b2;
}

.socials h2{
  font-family: 'Fredoka One', cursive;
  color: #94a1b2;
  margin-left: 20px;
  margin-top: 20px;
}





